@import '../utils/variables';

*,::after,::before {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  padding: 0;
  background-color: $gray-9;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
button {
  outline: none;
}
a {
  text-decoration: none;
  color: $blue-8;
  font-size: 14px;
}